body {
  background-color: lightgray;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: white;
  max-width: 1001px;
}

.header .logo-image {
  width: 105px;
  height: 105px;
}

.money-box {
  max-width: 1001px;
  color: white;
  background-color: #2ecc71;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  margin-top: 11px;
  margin-bottom: 11px;
  height: 79px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.item-list {
  max-width: 1001px;
  margin: 0;
  padding: 0;
}

.item-list li {
  list-style-type: none;
  width: 329px;
  float: left;
  margin: 2px;
}

.item {
  height: 303px;
  margin: 3px;
  padding: 15px;
  background-color: white;
  text-align: center;
}

.item-image {
  height: 181px;
}

.item img {
  max-height: 161px;
  max-width: 201px;
}

.product-name {
  font-size: 23px;
  font-weight: 900;
}

.product-price {
  color: #2ecc71;
  font-size: 21px;
  font-weight: 400;
}

.input-quantity {
  width: 75px;
  height: 37;
  border-radius: 3px;
  margin-left: 11px;
  margin-right: 11px;
  padding: 3px;
  text-align: center;
}

.btn-sell {
  width: 95px;
  height: 37;
  border-radius: 3px;
  background-color: #f1f2f6 !important;
  border: none;
  padding: 7px;
}

.btn-buy {
  width: 95px;
  height: 37;
  border-radius: 3px;
  background-color: #f1f2f6 !important;
  border: none;
  padding: 7px;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
}

.buy-sell-form {
  padding-bottom: 11px;
}

.basket {
  max-width: 1001px;
  background-color: white;
  margin-top: 11px;
  padding: 15px;
}

.basket div {
  position: relative;
  margin: auto;
}

.basket h3 {
  position: relative;
  margin: auto;
}

.footer {
  max-width: 1001px;
}